* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    background-image: url("https://i.ibb.co/fHx19mq/trangchu.png");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 891px;
    width: auto;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    /* height: 1000px; */
    opacity: 5;
}


/**RECOMMENED**/

.nav-bar-recommend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background-color: rgba(30, 30, 30, 0.8);
    height: 60px;
    font-size: 14px;
}

.nav-bar-recommend.active {
    display: none;
}

.nav-bar-recommend .recommend-text {
    color: rgba(255, 255, 255, 1);
    padding-right: 5px;
}

.nav-bar-recommend .recommend-btn {
    color: rgba(3, 124, 255, 1);
    padding: 2px 10px;
    border-radius: 5px;
    border-color: rgba(3, 124, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    font-size: 14px;
}


/**HEADER**/

.nav-bar-contact {
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 110px;
    background-color: #1E1E1E;
    ;
    width: auto;
    height: 120px;
}

.brand-logo {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.brand-name {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

li,
a,
button {
    text-decoration: none;
}

.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-flex;
    padding: 0px 30px;
    margin-top: 16px;
    color: rgba(255, 255, 255, 1);
    /* justify-items: center;
    align-items: center; */
}

.nav_link li a {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}


/* .nav_link li .active {
    color: rgba(173, 133, 75, 1);
} */


/**Service Booking**/

.service-booking {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.8);
    height: 135px;
}

.service-booking.active {
    display: none;
}

.service-booking-item a {
    margin: 0px 100px;
}

.service-booking-item a i {
    color: rgba(255, 255, 255, 0.6);
    font-size: 33.5px;
}

.service-booking-item .service-booking-text {
    text-align: center;
    padding-top: 10px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}


/**INFO_BOOKING_ROOM**/

.main-screen .info-booking-room {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    width: auto;
    height: 190px;
    color: rgba(255, 255, 255, 1);
}

::-webkit-calendar-picker-indicator {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: 3px;
}

.info-booking-room .info-booking-item {
    padding: 0px 10px;
}

.info-booking-room .info-booking-item input {
    /* background-color: rgba(20, 20, 20, 1); */
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(20, 20, 20, 1);
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    width: 322px;
    padding: 10px 10px;
    margin-top: 5px;
}

.info-booking-btn {
    /* font-size: 20px; */
    /* justify-items: center;
    align-items: center; */
    margin-top: 5px;
    width: 200px;
    height: 46px;
    background-color: rgba(173, 133, 75, 1);
    color: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(173, 133, 75, 1);
    border-radius: 0;
}


/**INTRODUCE_HOTEL**/

.introduce-hotel {
    text-align: center;
    background-color: #141414;
    width: auto;
    height: 500px;
}

.introduce-hotel .introduce-name-text {
    color: rgba(188, 188, 177, 1);
    font-size: 28px;
    padding-top: 30px;
}

.introduce-hotel .introduce-welcome-text {
    color: rgba(255, 255, 255, 1);
    font-size: 38px;
    /* padding-top: 2px; */
    text-transform: uppercase;
}

.hr1 {
    margin-top: 15px;
    border: 3px solid #AD854B;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: #AD854B;
}

.hr2 {
    margin-top: 15px;
    border: 1px solid rgba(173, 133, 75, 1);
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(173, 133, 75, 1);
}

.introduce-hotel-detail {
    padding: 30px 0px;
    color: rgba(188, 188, 177, 1);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}


/**Arrow button**/

.arrow-btn {
    position: fixed;
    bottom: 30px;
    right: 45px;
    z-index: 9;
}

.arrow-btn a {
    position: fixed;
    bottom: 39px;
    width: 37px;
    text-align: center;
    background: #1b1b1b;
    display: block;
    border-radius: 3px;
    cursor: pointer;
}

.arrow-btn a span {
    color: #f2f2f2;
    line-height: 39px;
    font-size: 25px;
}