.slick-slider {
    display: flex;
}

.custom-prevArrow,
.custom-nextArrow {
    padding: 80px 0;
    position: relative;
    fill: #AD854B;
    cursor: pointer;
}

.custom-prevArrow {
    left: -25px;
}

.custom-nextArrow {
    right: -25px;
}