.imageRoomType img {
    width: 100%;
}

.buttonDetail a {
    color: #AD854B;
    text-transform: uppercase;
    text-align: left;
}

.hr2 {
    background-color: #AD854B;
    border: 1px solid #AD854B;
    width: 30% !important;
    margin-left: auto;
    margin-right: auto;
}