@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.feedbackContainer {
  .feedbackImage {
    img {
      width: 100%;
      height: 160px;
      border-radius: 50%;

      @include breakpoint(xl, down) {
        height: 115px;
      }
    }
  }
}
